@tailwind base;
@tailwind components;
@tailwind utilities;

.iteration-one {
  animation-iteration-count: 1;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-pop {
  animation: pop 0.2s ease-out 1;
}

body {
  user-select: none;
}

.text-shadow {
  text-shadow: 0px 3px 0px rgb(34 197 94 / 50%);
}
